trigger:
- master

pool:
  name: fhv-linux-pool

steps:
- checkout: self

- task: Docker@2
  displayName: Build Docker Image
  inputs:
    command: build
    Dockerfile: Dockerfile
    repository: localhost:5000/natureconnect
    tags: |
      1.0

- task: Docker@2
  displayName: Push Docker Image
  inputs:
    command: push
    repository: localhost:5000/natureconnect
    tags: |
      1.0

- task: DockerCompose@0
  displayName: Deploy Application
  inputs:
    dockerComposeFile: docker-compose.yml
    action: Run services