trigger:
  - master

pool:
  name: fhv-linux-pool

steps:
- checkout: self

- script: |
    docker build -t localhost:5000/natureconnect:latest .
    docker push localhost:5000/natureconnect:latest
  displayName: Build & Push Docker Image

- script: docker compose up -d --build
  displayName: Deploy with Docker Compose

