trigger:
  - sprint-4

pool:
  name: fhv-linux-pool

steps:
- checkout: self

- script: |
    cd $(Build.SourcesDirectory)

    docker build \
      -f Dockerfile \
      -t localhost:5000/natureconnect:latest .

    docker push localhost:5000/natureconnect:latest
  displayName: Build & Push Docker Image

- script: |
    cd $(Build.SourcesDirectory)
    docker compose down || true
    docker compose up -d
  displayName: Deploy with Docker Compose