trigger:
- master

pool:
  name: fhv-linux-pool

stages:
- stage: Build
  displayName: Build the Application
  jobs:
  - job: Build
    displayName: Gradle Build
    steps:
    - checkout: self

    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'AzureStorage'

    - task: Gradle@3
      displayName: Run Gradle Build
      inputs:
        gradleWrapperFile: 'gradlew'
        tasks: 'build'
        options: '-Xmx3072m'
        publishJUnitResults: true
        testResultsFiles: '**/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        jdkArchitectureOption: 'x64'
