trigger:
  - master

pool:
  name: fhv-linux-pool

steps:
  - checkout: self

  - script: |
      docker build -t localhost:5000/natureconnect:1.0 .
      docker push localhost:5000/natureconnect:1.0
    displayName: Build & Push Docker Image (v1.0)

  - script: docker compose pull && docker compose up -d
    displayName: Deploy with Docker Compose
