# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  name: fhv-linux-pool

steps:
- checkout: self

- script: |
    chmod +x ./gradlew
    ./gradlew build
  displayName: "Build & Test with Gradle Wrapper"

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/build/test-results/test/*.xml'
    failTaskOnFailedTests: true
