<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Imprint</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/static-page.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body class="static_page">

<div th:replace="events/fragments/navbar :: navbar"></div>

<main class="static-container">
    <h1 class="static-title">Imprint</h1>
    <p class="static-subtitle">Legal information about NATUREConnect</p>

    <section class="static-card">
        <h2>Company Details</h2>

    <p>
        NATUREConnect<br>
        Hochschulstraße 1<br>
        6850 Dornbirn<br>
        Austria
    </p>

    <p>
        Email: info@natureconnect.at<br>
        Phone: +43 000 000000
    </p>

    <p>
        Responsible for content:<br>
        NATUREConnect Team
    </p>
    </section>

</main>

<div th:replace="events/fragments/footer :: footer"></div>

</body>
</html>
