body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email{
    height: 50px;
    width: 1000px;
    border-color: lightgrey;
    border-radius: 10px;
}

#info{
    border-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 50px;
     font-family: "Inter", "Segoe UI", Roboto, sans-serif;
    width: 1000px;
    height: 400px;

}

#send{
    height: 50px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    border-color: lightgrey;
    margin-bottom: 50px;
}

.info-text{
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.info-text h2{
    margin-bottom: 0px;
}