<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${event.title}">Booking</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/booking-page.css}">
</head>

<body>
<div th:replace="~{events/fragments/navbar :: navbar}"></div>


<div class="hero">
    <img th:src="${event.imageUrl}" alt="Event image"/>
    <div class="hero-overlay"></div>
</div>

<div class="container">
    <div id="errorPop"></div>
    <div th:if="${errors != null and !errors.isEmpty() and fieldErrors == null}"
         id="validationErrorBox"
         style="background-color: #fee2e2; border: 1px solid #ef4444; border-radius: 8px; padding: 16px; margin-bottom: 20px; transition: opacity 0.6s ease;">
        <h3 style="color: #dc2626; margin-top: 0; font-size: 18px;">Please fix the following errors:</h3>
        <ul style="color: #dc2626; margin-bottom: 0;">
            <li th:each="error : ${errors}" th:text="${error}"></li>
        </ul>
    </div>

    <script th:if="${fieldErrors != null}" type="application/json" id="fieldErrorsData" th:inline="text">
        [
            [
                $
                {
                    fieldErrors
                }
            ]
        ]
    </script>
    <form th:action="${isEdit} ? @{/booking/{id}(id=${bookingId})} : @{/booking}"
          th:object="${booking}"
          method="post">


        <input type="hidden" id="isEdit" th:value="${isEdit}"/>

        <input type="hidden" th:field="*{eventId}" th:value="${event.id}">
        <input type="hidden" id="pageEventId" th:value="${event.id}">
        <input type="hidden" id="eventBasePrice" th:value="${event.price}">
        <input type="hidden" id="eventMinParticipants" th:value="${event.minParticipants}">
        <input type="hidden" id="eventMaxParticipants" th:value="${event.maxParticipants}">
        <input type="hidden" id="changePayment" name="changePayment" value="false"/>

        <div class="grid">
            <div class="left-column">
                <div class="card">
                    <h1 class="title" th:text="${event.title}"></h1>

                    <p class="text-gray">
                        Organized by <strong th:text="${event.organizer}"></strong>
                    </p>
                    <p class="text-gray" th:text="${event.location}"></p>
                    <p class="text-gray">
                        <span th:text="${event.date}"></span>
                        •
                        <span th:text="${event.startTime}"></span> -
                        <span th:text="${event.endTime}"></span>
                    </p>
                </div>
                <div class="card">
                    <h2 class="card-title">Your Information</h2>

                    <label>First Name</label>
                    <input type="text"
                           class="form-input"
                           th:field="*{bookerFirstName}"
                           th:classappend="${fieldErrors?.containsKey('bookerFirstName')} ? 'input-error' : ''"
                           maxlength="50"
                           required>
                    <span th:if="${fieldErrors?.containsKey('bookerFirstName')}"
                          class="error-text"
                          th:text="${fieldErrors['bookerFirstName']}"></span>

                    <label>Last Name</label>
                    <input type="text"
                           class="form-input"
                           th:field="*{bookerLastName}"
                           th:classappend="${fieldErrors?.containsKey('bookerLastName')} ? 'input-error' : ''"
                           maxlength="50"
                           required>
                    <span th:if="${fieldErrors?.containsKey('bookerLastName')}"
                          class="error-text"
                          th:text="${fieldErrors['bookerLastName']}"></span>

                    <label>Email</label>
                    <input type="email"
                           class="form-input"
                           th:field="*{bookerEmail}"
                           th:classappend="${fieldErrors?.containsKey('bookerEmail')} ? 'input-error' : ''"
                           maxlength="100"
                           required>
                    <span th:if="${fieldErrors?.containsKey('bookerEmail')}"
                          class="error-text"
                          th:text="${fieldErrors['bookerEmail']}"></span>
                </div>

                <div class="card">
                    <h2 class="card-title">Audience Type</h2>

                    <div class="radio-group">
                        <label class="radio-label">
                            <input type="radio" th:field="*{audience}" value="INDIVIDUAL" checked>
                            Individual
                        </label>

                        <label class="radio-label">
                            <input type="radio" th:field="*{audience}" value="GROUP">
                            Group
                        </label>

                        <label class="radio-label">
                            <input type="radio" th:field="*{audience}" value="COMPANY">
                            Company
                        </label>
                    </div>
                </div>

                <div class="card">
                    <h2 class="card-title">Participants</h2>

                    <label>Number of Participants</label>
                    <select class="form-input" th:field="*{seats}" id="numParticipants">
                        <option th:each="i : ${#numbers.sequence(1, event.maxParticipants)}"
                                th:value="${i}"
                                th:text="${i}">
                        </option>
                    </select>


                    <div id="existingParticipantsData" style="display:none;"
                         th:if="${booking.participants != null and !booking.participants.isEmpty()}">
                        <div th:each="p, stat : *{participants}"
                             th:attr="data-index=${stat.index},
                  data-firstname=${p.firstName},
                  data-lastname=${p.lastName},
                  data-age=${p.age}">
                        </div>
                    </div>

                    <div id="participantsContainer"></div>

                </div>

                <div class="card">
                    <h2 class="card-title">Equipment & Add-ons</h2>

                    <div id="equipmentContainer">
                        <div th:each="addon : ${addons}" class="equipment-item">
                            <label class="checkbox-label">
                                <input type="checkbox"
                                       th:field="*{equipment[__${addon.id}__].selected}"
                                       th:attr="data-price=${addon.unitPrice}"
                                       value="true"
                                />

                                <div class="addon-content">
                                    <p class="addon-name" th:text="${addon.name}"></p>
                                    <p class="addon-desc" th:text="'Available: ' + ${addon.stock}"></p>
                                </div>

                                <span class="addon-price" th:text="${addon.unitPrice}"></span>

                                <input type="number"
                                       th:name="|equipment[${addon.id}].quantity|"
                                       th:value="${(booking.equipment[addon.id] != null and booking.equipment[addon.id].quantity > 0)
                                                   ? booking.equipment[addon.id].quantity
                                                   : 1}"
                                       min="1"
                                       th:max="${addon.stock}"
                                       style="width: 70px; display: none;"/>


                            </label>
                        </div>
                    </div>

                </div>

                <div class="card" id="hikeRouteSection" style="display:none;">
                    <h2 class="card-title">Hiking route</h2>

                    <div id="hikeRoutesList"></div>

                    <span th:if="${fieldErrors?.containsKey('hikeRouteKey')}"
                          class="error-text"
                          th:text="${fieldErrors['hikeRouteKey']}">
                    </span>
                </div>

                <input type="hidden" th:field="*{hikeRouteKey}" id="hikeRouteKey" value="">

                <div class="card">
                    <h2 class="card-title">Special Notes</h2>
                    <textarea class="form-input" rows="4" th:field="*{specialNotes}" maxlength="250"
                              style="resize:none;"></textarea>
                </div>

            </div>

            <div class="right-column">
                <div class="card sidebar">
                    <h3 class="card-title">Summary</h3>

                    <div class="price-row">
                        <span>Participants</span>
                        <span id="summaryParticipantsPrice">1 × 0.00 €</span>
                    </div>


                    <div id="summaryEquipmentSection">
                        <div id="summaryEquipment"></div>
                    </div>

                    <div id="summaryDiscountRow" class="price-row" style="display: none;">
                        <span id="summaryDiscountText"></span>
                        <span id="summaryDiscountAmount"></span>
                    </div>

                    <hr class="divider-top">

                    <div class="total-row">
                        <span>Total Price:</span>
                        <span id="summaryTotal" class="total-amount">0.00€</span>
                    </div>

                    <div class="voucher-wrapper-bottom">
                        <div class="voucher-input-wrapper">
                            <input type="text" id="discountCode" class="voucher-input" placeholder="Voucher code">

                            <button id="removeDiscountBtn" type="button" class="voucher-remove">✕</button>
                        </div>
                        <button id="applyDiscountBtn" type="button" class="voucher-apply">Apply</button>
                    </div>

                    <p id="discountMessage" class="hidden"></p>
                    <input type="hidden" th:field="*{voucherCode}" id="voucherCodeField">
                    <input type="hidden" th:field="*{discountPercent}" id="discountPercentField"/>

                    <button th:if="${!isEdit}"
                            id="confirmBtn"
                            type="submit"
                            class="btn-primary"
                            th:text="'Confirm Booking'">
                        Confirm Booking
                    </button>


                    <div th:if="${isEdit}">
                        <button
                                id="updateBookingBtn"
                                type="button"
                                class="btn-primary"
                                th:text="'Update Booking'"
                                onclick="document.getElementById('changePayment').value='false'; this.form.submit();">
                            Update Booking
                        </button>

                        <button
                                id="updateBookingChangePaymentBtn"
                                type="button"
                                class="btn-primary"
                                sec:authorize="hasRole('ADMIN')"
                                th:utext="'Update Booking <br> & Payment'"
                                onclick="document.getElementById('changePayment').value='true'; this.form.submit();">
                            Update Booking and change payment method
                        </button>
                    </div>

                    <p id="errorBox" class="hidden text-red"></p>
                </div>

            </div>

        </div>

    </form>

</div>

<script th:src="@{/js/booking-page.js}"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const flash = document.getElementById("flashSuccess");
        if (flash) {
            setTimeout(() => {
                flash.style.transition = "opacity 0.6s ease";
                flash.style.opacity = "0";
                setTimeout(() => flash.remove(), 600);
            }, 3000);
        }
    });

    document.addEventListener("DOMContentLoaded", () => {
        const validationError = document.getElementById("validationErrorBox");
        if (validationError) {
            setTimeout(() => {
                validationError.style.opacity = "0";
                setTimeout(() => validationError.remove(), 600);
            }, 3000);
        }
    });
</script>


</body>
</html>
