<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="/css/navbar.css">
    <link rel="stylesheet" th:href="@{/css/aboutus.css}" href="/css/style.css">
    <link rel="icon" type="image/png" th:href="@{/images/NatureConnectLogo.png}" href="/images/NatureConnectLogo.png">
</head>
<body>
<div th:replace="~{events/fragments/navbar :: navbar}"></div>
<div class="aboutus">
    <h1> Nature Connect</h1>
    <h2>Who we are</h2>
    Natureconnect is an event management company dedicated to creating meaningful experiences in nature.
    We design outdoor events that bring people together, reduce stress, and transform natural spaces into places of connection and inspiration.
    Whether for companies, private groups, or individuals — we offer authentic nature experiences that stay with you long after the event ends.

    <h2> Our Mission</h2>
    We believe nature has the power to connect, calm, and inspire people.
    Our mission is to create events that:
    <ul>
        <li>reconnect people with nature</li>
        <li>strengthen team spirit and community</li>
        <li>promote mindfulness and presence</li>
        <li>offer space for new ideas ang genuine encounters</li>
    </ul>
    We want every participant to feel grounded, renewed, and inspired.

    <h2> What We Offer</h2>
    Our Event portfolio includes:
    <ul>
        <li>Outdoor team-building events</li>
        <li>Nature retreats & mindfulness sessions</li>
        <li>Guided hikes & workshops</li>
        <li>Nature-based corporate events</li>
        <li>Community gatherings in natural settings</li>
        <li>Custom outdoor experiences tailored to your group's goals</li>
    </ul>
    All our events are designed to combine adventure, relaxation, connection, and sustainability.


</div>
</body>
</html>